.baduk-board {
    position: relative;
    background-image: url('kaya.png');
    border: .25em solid #CA933A;
    top: 0;
    left: 0;
    z-index: 0;
}

.baduk-stone {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
}

.baduk-stone.baduk-stone-1 {
    background-image: url('stone_black.svg');
}

.baduk-stone.baduk-stone--1 {
    background-image: url('stone_white.svg');
}

.baduk-stone.baduk-stone-0 {
    position: absolute;
}